In [1]:
!pip install transformers torch

^C

In [12]:
import pandas as pd

In [13]:
movies=pd.read_csv('datasetUpdate.csv')

In [14]:
movies.head(10)

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,27205,Inception,"Action,Science Fiction,Adventure",en,"Cobb, a skilled thief who commits corporate es...",111.757,7/15/2010,8.4,31917
1,157336,Interstellar,"Adventure,Drama,Science Fiction",en,The adventures of a group of explorers who mak...,191.220,11/5/2014,8.4,28920
2,155,The Dark Knight,"Drama,Action,Crime,Thriller",en,Batman raises the stakes in his war on crime. ...,82.230,7/14/2008,8.5,27925
3,24428,The Avengers,"Science Fiction,Action,Adventure",en,When an unexpected enemy emerges and threatens...,278.980,4/25/2012,7.7,27250
4,293660,Deadpool,"Action,Adventure,Comedy",en,The origin story of former Special Forces oper...,230.309,2/9/2016,7.6,27028
5,19995,Avatar,"Action,Adventure,Fantasy,Science Fiction",en,"In the 22nd century, a paraplegic Marine is di...",386.124,12/10/2009,7.5,25759
6,299536,Avengers: Infinity War,"Adventure,Action,Science Fiction",en,As the Avengers and their allies have continue...,475.535,4/25/2018,8.3,25020
7,118340,Guardians of the Galaxy,"Action,Science Fiction,Adventure",en,"Light years from Earth, 26 years after being a...",80.592,7/30/2014,7.9,24684
8,550,Fight Club,Drama,en,A ticking-time-bomb insomniac and a slippery s...,58.676,10/15/1999,8.4,24441
9,680,Pulp Fiction,"Thriller,Crime",en,"A burger-loving hit man, his philosophical par...",67.224,9/10/1994,8.5,23481

In [15]:
movies.describe()

                  id    popularity  vote_average    vote_count
count   10000.000000  10000.000000  10000.000000  10000.000000
mean   161243.505000     34.697267      6.621150   1547.309400
std    211422.046043    211.684175      0.766231   2648.295789
min         5.000000      0.600000      4.600000    200.000000
25%     10127.750000      9.154750      6.100000    315.000000
50%     30002.500000     13.637500      6.600000    583.500000
75%    310133.500000     25.651250      7.200000   1460.000000
max    934761.000000  10436.917000      8.700000  31917.000000

In [16]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 10000 non-null  int64
 1   title              10000 non-null  object
 2   genre              9997 non-null   object
 3   original_language  10000 non-null  object
 4   overview           9987 non-null   object
 5   popularity         10000 non-null  float64
 6   release_date       10000 non-null  object
 7   vote_average       10000 non-null  float64
 8   vote_count         10000 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 703.2+ KB

In [17]:
movies.isnull().sum()

id                    0
title                 0
genre                 3
original_language     0
overview             13
popularity            0
release_date          0
vote_average          0
vote_count            0
dtype: int64

Feature Selection Part

In [18]:
movies.columns

Index(['id', 'title', 'genre', 'original_language', 'overview', 'popularity',
       'release_date', 'vote_average', 'vote_count'],
      dtype='object')

In [19]:
movies=movies[['id', 'title', 'overview', 'genre']]

In [20]:
movies

,id,title,overview,genre
0,27205,Inception,"Cobb, a skilled thief who commits corporate es...","Action,Science Fiction,Adventure"
1,157336,Interstellar,The adventures of a group of explorers who mak...,"Adventure,Drama,Science Fiction"
2,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,"Drama,Action,Crime,Thriller"
3,24428,The Avengers,When an unexpected enemy emerges and threatens...,"Science Fiction,Action,Adventure"
4,293660,Deadpool,The origin story of former Special Forces oper...,"Action,Adventure,Comedy"
...,...,...,...,...
9995,28569,Splendor in the Grass,A fragile Kansas girl's unrequited and forbidd...,"Drama,Romance"
9996,4952,Pillow Talk,A man and woman share a telephone line and des...,"Comedy,Romance"
9997,15515,The 7th Voyage of Sinbad,"When a princess is shrunken by an evil wizard,...","Action,Adventure,Family,Fantasy"
9998,9077,Tarantula,A lone-wolf scientist sequestered in a mansion...,"Horror,Science Fiction,Thriller"
9999,12232,The Thief of Bagdad,When Prince Ahmad is blinded and cast out of B...,"Action,Adventure,Family,Fantasy"

In [21]:
movies['tags'] = movies['overview']+movies['genre']

In [22]:
movies

,id,title,overview,genre,tags
0,27205,Inception,"Cobb, a skilled thief who commits corporate es...","Action,Science Fiction,Adventure","Cobb, a skilled thief who commits corporate es..."
1,157336,Interstellar,The adventures of a group of explorers who mak...,"Adventure,Drama,Science Fiction",The adventures of a group of explorers who mak...
2,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,"Drama,Action,Crime,Thriller",Batman raises the stakes in his war on crime. ...
3,24428,The Avengers,When an unexpected enemy emerges and threatens...,"Science Fiction,Action,Adventure",When an unexpected enemy emerges and threatens...
4,293660,Deadpool,The origin story of former Special Forces oper...,"Action,Adventure,Comedy",The origin story of former Special Forces oper...
...,...,...,...,...,...
9995,28569,Splendor in the Grass,A fragile Kansas girl's unrequited and forbidd...,"Drama,Romance",A fragile Kansas girl's unrequited and forbidd...
9996,4952,Pillow Talk,A man and woman share a telephone line and des...,"Comedy,Romance",A man and woman share a telephone line and des...
9997,15515,The 7th Voyage of Sinbad,"When a princess is shrunken by an evil wizard,...","Action,Adventure,Family,Fantasy","When a princess is shrunken by an evil wizard,..."
9998,9077,Tarantula,A lone-wolf scientist sequestered in a mansion...,"Horror,Science Fiction,Thriller",A lone-wolf scientist sequestered in a mansion...
9999,12232,The Thief of Bagdad,When Prince Ahmad is blinded and cast out of B...,"Action,Adventure,Family,Fantasy",When Prince Ahmad is blinded and cast out of B...

In [23]:
# movies['overview'] = movies['overview'].fillna('')

In [24]:
new_data  = movies.drop(columns=['overview', 'genre'])

In [25]:
# new_data = movies

In [26]:
# new_data['overview'] = new_data['overview'].fillna('')

In [27]:
new_data

,id,title,tags
0,27205,Inception,"Cobb, a skilled thief who commits corporate es..."
1,157336,Interstellar,The adventures of a group of explorers who mak...
2,155,The Dark Knight,Batman raises the stakes in his war on crime. ...
3,24428,The Avengers,When an unexpected enemy emerges and threatens...
4,293660,Deadpool,The origin story of former Special Forces oper...
...,...,...,...
9995,28569,Splendor in the Grass,A fragile Kansas girl's unrequited and forbidd...
9996,4952,Pillow Talk,A man and woman share a telephone line and des...
9997,15515,The 7th Voyage of Sinbad,"When a princess is shrunken by an evil wizard,..."
9998,9077,Tarantula,A lone-wolf scientist sequestered in a mansion...
9999,12232,The Thief of Bagdad,When Prince Ahmad is blinded and cast out of B...

In [28]:
from transformers import BertTokenizer, BertModel
import torch

RuntimeError: Failed to import transformers.models.bert.modeling_bert because of the following error (look up to see its traceback):
Failed to import transformers.onnx.config because of the following error (look up to see its traceback):
DLL load failed while importing _imaging: The specified module could not be found.

In [22]:
# Load pre-trained BERT model and tokenizer
tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')
model = BertModel.from_pretrained('bert-base-uncased')

/usr/local/lib/python3.10/dist-packages/huggingface_hub/utils/_token.py:89: UserWarning:
The secret `HF_TOKEN` does not exist in your Colab secrets.
To authenticate with the Hugging Face Hub, create a token in your settings tab (https://huggingface.co/settings/tokens), set it as secret in your Google Colab and restart your session.
You will be able to reuse this secret in all of your notebooks.
Please note that authentication is recommended but still optional to access public models or datasets.
  warnings.warn(

In [23]:
def get_bert_embeddings(texts):
    # Tokenize and encode texts
    inputs = tokenizer(texts, return_tensors='pt', padding=True, truncation=True, max_length=512)
    with torch.no_grad():
        outputs = model(**inputs)
    # Return the mean of the token embeddings for each document
    return outputs.last_hidden_state.mean(dim=1).numpy()

In [ ]:
# Generate embeddings for movie tags (ensure it's a list of strings)
embeddings = get_bert_embeddings(new_data['tags'].astype(str).tolist())

In [ ]:
similarity

array([[1.        , 0.03865787, 0.00499736, ..., 0.02206849, 0.01719822,
        0.06587978],
       [0.03865787, 1.        , 0.00312846, ..., 0.01494108, 0.02073204,
        0.01274635],
       [0.00499736, 0.00312846, 1.        , ..., 0.02230045, 0.00326192,
        0.00581102],
       ...,
       [0.02206849, 0.01494108, 0.02230045, ..., 1.        , 0.        ,
        0.11724442],
       [0.01719822, 0.02073204, 0.00326192, ..., 0.        , 1.        ,
        0.        ],
       [0.06587978, 0.01274635, 0.00581102, ..., 0.11724442, 0.        ,
        1.        ]])

In [ ]:
new_data[new_data['title']=="Interstellar"].index[0]

1

In [ ]:
def recommand(movie_title):
    if movie_title not in new_data['title'].values:
        print("Movie not found in dataset.")
        return

    # Get the index of the movie that matches the title
    index = new_data[new_data['title'] == movie_title].index[0]

    # Get the pairwise similarity scores of all movies with that movie
    distance = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda vector: vector[1])

    # Print the titles of the top 5 most similar movies
    print(f"Top 5 recommendations for '{movie_title}':")
    for i in distance[1:6]:  # Skip the first entry as it is the movie itself
        print(new_data.iloc[i[0]].title)

In [ ]:
recommand("Interstellar")

Top 5 recommendations for 'Interstellar':
Space Pirate Captain Harlock
Stargate
Prometheus
Gattaca
Star Wars: The Last Jedi

In [ ]:
import pickle

In [ ]:
pickle.dump(new_data, open('movies_listUpdate.pkl', 'wb'))

In [ ]:
pickle.dump(similarity, open('similarityUpdate.pkl', 'wb'))

In [ ]:
pickle.load(open('movies_listUpdate.pkl', 'rb'))

,id,title,tags
0,27205,Inception,"Cobb, a skilled thief who commits corporate es..."
1,157336,Interstellar,The adventures of a group of explorers who mak...
2,155,The Dark Knight,Batman raises the stakes in his war on crime. ...
3,24428,The Avengers,When an unexpected enemy emerges and threatens...
4,293660,Deadpool,The origin story of former Special Forces oper...
...,...,...,...
9995,28569,Splendor in the Grass,A fragile Kansas girl's unrequited and forbidd...
9996,4952,Pillow Talk,A man and woman share a telephone line and des...
9997,15515,The 7th Voyage of Sinbad,"When a princess is shrunken by an evil wizard,..."
9998,9077,Tarantula,A lone-wolf scientist sequestered in a mansion...
9999,12232,The Thief of Bagdad,When Prince Ahmad is blinded and cast out of B...

In [ ]:
pickle.load(open('similarityUpdate.pkl', 'rb'))

array([[1.        , 0.14350946, 0.03074377, ..., 0.11145564, 0.06019293,
        0.14350946],
       [0.14350946, 1.        , 0.0338255 , ..., 0.06131393, 0.06622662,
        0.05263158],
       [0.03074377, 0.0338255 , 1.        , ..., 0.07881104, 0.02128141,
        0.0338255 ],
       ...,
       [0.11145564, 0.06131393, 0.07881104, ..., 1.        , 0.        ,
        0.30656967],
       [0.06019293, 0.06622662, 0.02128141, ..., 0.        , 1.        ,
        0.        ],
       [0.14350946, 0.05263158, 0.0338255 , ..., 0.30656967, 0.        ,
        1.        ]])