In [1]:
import pandas as pd

In [2]:
movies=pd.read_csv('dataset.csv')

In [3]:
movies

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,27205,Inception,"Action,Science Fiction,Adventure",en,"Cobb, a skilled thief who commits corporate es...",111.757,7/15/2010,8.4,31917
1,157336,Interstellar,"Adventure,Drama,Science Fiction",en,The adventures of a group of explorers who mak...,191.220,11/5/2014,8.4,28920
2,155,The Dark Knight,"Drama,Action,Crime,Thriller",en,Batman raises the stakes in his war on crime. ...,82.230,7/14/2008,8.5,27925
3,24428,The Avengers,"Science Fiction,Action,Adventure",en,When an unexpected enemy emerges and threatens...,278.980,4/25/2012,7.7,27250
4,293660,Deadpool,"Action,Adventure,Comedy",en,The origin story of former Special Forces oper...,230.309,2/9/2016,7.6,27028
...,...,...,...,...,...,...,...,...,...
9995,28569,Splendor in the Grass,"Drama,Romance",en,A fragile Kansas girl's unrequited and forbidd...,8.734,10/10/1961,7.6,200
9996,4952,Pillow Talk,"Comedy,Romance",en,A man and woman share a telephone line and des...,6.256,10/7/1959,7.2,200
9997,15515,The 7th Voyage of Sinbad,"Action,Adventure,Family,Fantasy",en,"When a princess is shrunken by an evil wizard,...",10.421,12/5/1958,6.9,200
9998,9077,Tarantula,"Horror,Science Fiction,Thriller",en,A lone-wolf scientist sequestered in a mansion...,10.909,12/14/1955,6.4,200
9999,12232,The Thief of Bagdad,"Action,Adventure,Family,Fantasy",en,When Prince Ahmad is blinded and cast out of B...,7.836,12/25/1940,7.2,200

In [4]:
movies.describe()

                  id    popularity  vote_average    vote_count
count   10000.000000  10000.000000  10000.000000  10000.000000
mean   161243.505000     34.697267      6.621150   1547.309400
std    211422.046043    211.684175      0.766231   2648.295789
min         5.000000      0.600000      4.600000    200.000000
25%     10127.750000      9.154750      6.100000    315.000000
50%     30002.500000     13.637500      6.600000    583.500000
75%    310133.500000     25.651250      7.200000   1460.000000
max    934761.000000  10436.917000      8.700000  31917.000000

In [5]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 10000 non-null  int64
 1   title              10000 non-null  object
 2   genre              9997 non-null   object
 3   original_language  10000 non-null  object
 4   overview           9987 non-null   object
 5   popularity         10000 non-null  float64
 6   release_date       10000 non-null  object
 7   vote_average       10000 non-null  float64
 8   vote_count         10000 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 703.2+ KB

In [6]:
movies.isnull().sum()

id                    0
title                 0
genre                 3
original_language     0
overview             13
popularity            0
release_date          0
vote_average          0
vote_count            0
dtype: int64

Feature Selection Part

In [7]:
movies.columns

Index(['id', 'title', 'genre', 'original_language', 'overview', 'popularity',
       'release_date', 'vote_average', 'vote_count'],
      dtype='object')

In [8]:
movies=movies[['id', 'title', 'overview', 'genre']]

In [16]:
movies

,id,title,overview,genre,tags
0,27205,Inception,"Cobb, a skilled thief who commits corporate es...","Action,Science Fiction,Adventure","Cobb, a skilled thief who commits corporate es..."
1,157336,Interstellar,The adventures of a group of explorers who mak...,"Adventure,Drama,Science Fiction",The adventures of a group of explorers who mak...
2,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,"Drama,Action,Crime,Thriller",Batman raises the stakes in his war on crime. ...
3,24428,The Avengers,When an unexpected enemy emerges and threatens...,"Science Fiction,Action,Adventure",When an unexpected enemy emerges and threatens...
4,293660,Deadpool,The origin story of former Special Forces oper...,"Action,Adventure,Comedy",The origin story of former Special Forces oper...
...,...,...,...,...,...
9995,28569,Splendor in the Grass,A fragile Kansas girl's unrequited and forbidd...,"Drama,Romance",A fragile Kansas girl's unrequited and forbidd...
9996,4952,Pillow Talk,A man and woman share a telephone line and des...,"Comedy,Romance",A man and woman share a telephone line and des...
9997,15515,The 7th Voyage of Sinbad,"When a princess is shrunken by an evil wizard,...","Action,Adventure,Family,Fantasy","When a princess is shrunken by an evil wizard,..."
9998,9077,Tarantula,A lone-wolf scientist sequestered in a mansion...,"Horror,Science Fiction,Thriller",A lone-wolf scientist sequestered in a mansion...
9999,12232,The Thief of Bagdad,When Prince Ahmad is blinded and cast out of B...,"Action,Adventure,Family,Fantasy",When Prince Ahmad is blinded and cast out of B...

In [17]:
# Make a copy of the DataFrame
movies_copy = movies.copy()

# Add the 'tags' column
movies_copy['tags'] = movies_copy['overview'] + movies_copy['genre']

In [18]:
movies_copy

,id,title,overview,genre,tags
0,27205,Inception,"Cobb, a skilled thief who commits corporate es...","Action,Science Fiction,Adventure","Cobb, a skilled thief who commits corporate es..."
1,157336,Interstellar,The adventures of a group of explorers who mak...,"Adventure,Drama,Science Fiction",The adventures of a group of explorers who mak...
2,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,"Drama,Action,Crime,Thriller",Batman raises the stakes in his war on crime. ...
3,24428,The Avengers,When an unexpected enemy emerges and threatens...,"Science Fiction,Action,Adventure",When an unexpected enemy emerges and threatens...
4,293660,Deadpool,The origin story of former Special Forces oper...,"Action,Adventure,Comedy",The origin story of former Special Forces oper...
...,...,...,...,...,...
9995,28569,Splendor in the Grass,A fragile Kansas girl's unrequited and forbidd...,"Drama,Romance",A fragile Kansas girl's unrequited and forbidd...
9996,4952,Pillow Talk,A man and woman share a telephone line and des...,"Comedy,Romance",A man and woman share a telephone line and des...
9997,15515,The 7th Voyage of Sinbad,"When a princess is shrunken by an evil wizard,...","Action,Adventure,Family,Fantasy","When a princess is shrunken by an evil wizard,..."
9998,9077,Tarantula,A lone-wolf scientist sequestered in a mansion...,"Horror,Science Fiction,Thriller",A lone-wolf scientist sequestered in a mansion...
9999,12232,The Thief of Bagdad,When Prince Ahmad is blinded and cast out of B...,"Action,Adventure,Family,Fantasy",When Prince Ahmad is blinded and cast out of B...

In [19]:
new_data  = movies.drop(columns=['overview', 'genre'])

In [20]:
new_data

,id,title,tags
0,27205,Inception,"Cobb, a skilled thief who commits corporate es..."
1,157336,Interstellar,The adventures of a group of explorers who mak...
2,155,The Dark Knight,Batman raises the stakes in his war on crime. ...
3,24428,The Avengers,When an unexpected enemy emerges and threatens...
4,293660,Deadpool,The origin story of former Special Forces oper...
...,...,...,...
9995,28569,Splendor in the Grass,A fragile Kansas girl's unrequited and forbidd...
9996,4952,Pillow Talk,A man and woman share a telephone line and des...
9997,15515,The 7th Voyage of Sinbad,"When a princess is shrunken by an evil wizard,..."
9998,9077,Tarantula,A lone-wolf scientist sequestered in a mansion...
9999,12232,The Thief of Bagdad,When Prince Ahmad is blinded and cast out of B...

In [21]:
from sklearn.feature_extraction.text import CountVectorizer

In [22]:
cv=CountVectorizer(max_features=10000, stop_words='english')

In [23]:
cv

CountVectorizer(max_features=10000, stop_words='english')

In [24]:
vector=cv.fit_transform(new_data['tags'].values.astype('U')).toarray()

In [25]:
vector.shape

(10000, 10000)

In [26]:
from sklearn.metrics.pairwise import cosine_similarity

In [27]:
similarity=cosine_similarity(vector)

In [28]:
similarity

array([[1.        , 0.14350946, 0.03074377, ..., 0.11145564, 0.06019293,
        0.14350946],
       [0.14350946, 1.        , 0.0338255 , ..., 0.06131393, 0.06622662,
        0.05263158],
       [0.03074377, 0.0338255 , 1.        , ..., 0.07881104, 0.02128141,
        0.0338255 ],
       ...,
       [0.11145564, 0.06131393, 0.07881104, ..., 1.        , 0.        ,
        0.30656967],
       [0.06019293, 0.06622662, 0.02128141, ..., 0.        , 1.        ,
        0.        ],
       [0.14350946, 0.05263158, 0.0338255 , ..., 0.30656967, 0.        ,
        1.        ]])

In [29]:
new_data[new_data['title']=="The Godfather"].index[0]

63

In [30]:
distance = sorted(list(enumerate(similarity[2])), reverse=True, key=lambda vector:vector[1])
for i in distance[0:5]:
    print(new_data.iloc[i[0]].title)

The Dark Knight
Batman: The Long Halloween, Part Two
Batman: The Long Halloween, Part One
The Dark Knight Rises
Ricochet

In [31]:
def recommand(movies):
    index=new_data[new_data['title']==movies].index[0]
    distance = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda vector:vector[1])
    for i in distance[0:5]:
        print(new_data.iloc[i[0]].title)

In [32]:
recommand("Iron Man")

Iron Man
Iron Man 3
Guardians of the Galaxy Vol. 2
Avengers: Age of Ultron
Star Wars: Episode III - Revenge of the Sith

In [4]:
import pickle

In [34]:
pickle.dump(new_data, open('movies_list.pkl', 'wb'))

In [35]:
pickle.dump(similarity, open('similarity.pkl', 'wb'))

In [5]:
pickle.load(open('movies_list.pkl', 'rb'))

ModuleNotFoundError: No module named 'numpy._core'

In [6]:
pickle.load(open('similarity.pkl', 'rb'))

array([[1.        , 0.14350946, 0.03074377, ..., 0.11145564, 0.06019293,
        0.14350946],
       [0.14350946, 1.        , 0.0338255 , ..., 0.06131393, 0.06622662,
        0.05263158],
       [0.03074377, 0.0338255 , 1.        , ..., 0.07881104, 0.02128141,
        0.0338255 ],
       ...,
       [0.11145564, 0.06131393, 0.07881104, ..., 1.        , 0.        ,
        0.30656967],
       [0.06019293, 0.06622662, 0.02128141, ..., 0.        , 1.        ,
        0.        ],
       [0.14350946, 0.05263158, 0.0338255 , ..., 0.30656967, 0.        ,
        1.        ]])